streamlit
pandas
numpy
openai
openpyxl
pydantic
tiktoken
pytest
python-Levenshtein
pyodbc
extra-streamlit-components
msal
python-dotenv
streamlit-tags
msal-streamlit-authentication
msal_streamlit_t2
streamlit-javascript
azure-storage-blob
requests